@import "_global";

#acts{
    padding: 0;
    display: flex;
}

h1{
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.small-info{
    margin: 0.5rem 0;
    font-family: sans-light;
    font-size: 1.1rem;
    display: flex;
    justify-content: center
}

p {
    line-height: 1.5rem;
    margin: 1rem;
}

iframe {
    width: 90vw;
    height: 100%;
    border: none;
    margin: 5vw;
}

a{
    text-decoration: none;
    font-family: sans-bold;
    font-size: 1.1rem;

}