@font-face {
  font-family: sans-light;
  src: url(fonts/Sansation-LightItalic.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: sans-regular;
  src: url(fonts/Sansation-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: sans-bold;
  src: url(fonts/Sansation-Bold.ttf) format("truetype");
  font-weight: 700;
}
#schedule-container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 8vh auto;
  padding: 1vh;
  gap: 1vh;
}

.tab-button {
  background-color: #F03228;
  color: #ffffff;
  border: none;
  font-family: sans-light;
  font-size: 1.5rem;
  border-radius: 20px;
}
.tab-button.active {
  background-color: #247BA0;
}

.tab {
  grid-column: 1/span 2;
  overflow-x: scroll;
  position: relative;
  display: none;
}

.times {
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: 1fr 9fr;
  padding-left: 25vw;
}

.numbers {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(14, 32vh) auto;
  font-family: sans-bold;
  color: #247BA0;
  font-size: 1.5rem;
}

.lines {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(57, 8vh) auto;
}

.line {
  border-left: gray 1px solid;
  height: 100%;
}

.stages {
  position: absolute;
  top: 5vh;
  left: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: auto;
  height: 90%;
}

.current-time {
  position: absolute;
  top: 5vh;
  left: 25vw;
  width: 448vh;
  z-index: 1000;
  height: 90%;
}

#currentTime {
  border: 1px solid #F03228;
  background-color: #F03228;
  height: 100%;
  width: 1px;
}

.stage-container {
  display: grid;
  grid-template-columns: 25vw auto;
  grid-template-rows: 1fr;
  align-items: center;
}

.stage-name {
  font-family: sans-bold;
  font-size: 1.5rem;
  color: #247BA0;
  justify-self: flex-end;
  padding-right: 2vw;
}

.line-up-empty {
  display: grid;
  grid-template-columns: repeat(57, 8vh) auto;
  grid-template-rows: 1fr;
  height: 10vh;
}
.line-up-empty .line-up-item {
  background-color: #E3B505;
  color: #ffffff;
  font-family: sans-light;
  font-size: 1.5rem;
  border-radius: 20px;
  text-align: center;
  padding: 3vh;
  margin: 3px;
  max-height: 8vh;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popup-content {
  visibility: hidden;
  background-color: #ffffff;
  color: #247BA0;
  border: 3px solid #247BA0;
  text-align: center;
  border-radius: 20px;
  padding: 0 1vh;
  position: absolute;
  z-index: 1000;
  bottom: -50%;
  left: 50%;
  margin-left: -80px;
  box-shadow: 1px 1px 5px #000;
  text-decoration: none;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=schedule.css.map */